body {
    background-color: #d6d6d6;
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #000000;
}

h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.7em;
    color: #1d3557;
}

h2 {
    font-size: 1.4em;
    color: #1d3557;
}

h3 {
    font-size: 1.2em;
    color: #1d3557;
}

h4 {
    font-size: 1em;
    color: #1d3557;
}


.buttons {
    padding: 5px;
}

input[type="button"] {
    font-size: 14px;
    border: 2;
    line-height: 2;
    padding: 0 5px;
    text-align: center;
    color: #3a2c2c;
    text-shadow: 1px 1px 1px #ffffff;
    border-radius: 5px;
    background-color: RGBA(255, 204, 0);

    /* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6); */
}

input[type="button"]:hover {
    background-color: RGBA(112, 164, 222, 0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}